* {
	-webkit-overflow-scrolling: touch;

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
input {
    -webkit-user-select: auto !important;
}

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	// font-family: Myriad Pro;
	// overflow: hidden;
	// font-size: 62.5%;
}

a{
	transition: opacity 200ms linear;
}

a:focus, a:hover{
	color: white !important;
	text-decoration: none !important;
}

a:active{
	opacity: .5;
}


.view-animate-container {
  position:relative;
  height:100%;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.rtl .view-animate.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}
.rtl .view-animate.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.rtl .view-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.ltr .view-animate.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.ltr .view-animate.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.ltr .view-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}
