.container_photos{
	padding: 0 5px;
	padding:0 0 0 0;
    margin:0 0 0 0;

    li {
	    list-style:none;
	    img {cursor: pointer; }
	}
}

.col-img {
	width: 33.33333%;
	float: left;
	padding: 3px;
}