.bg_cover{
    background: white url('../images/bg.jpg') no-repeat;
    background-size: cover;
    // height: 60%;
    height: -webkit-calc(100% - 200px);  /* para Chrome */
    height: -moz-calc(100% - 200px);     /* para Firefox */
    height: calc(100% - 200px);
    position: relative;

    .bg-gradient{
        height: 140px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        background-image: linear-gradient(to bottom, transparent, black);
    }

    .btnShare{
        top: 0;
        right: 0;
        position: absolute;
        padding: 10px;

        .fa{
            width: 24px;
            padding: 3px;
            border-radius: 50%;
            border: 2px solid white;
        }
    }
}

.box-buttons{
    width: 100%;
    height: 188px;
    min-height: 188px;
    position: fixed;
    bottom: 10px;
    padding: 0 5px;

    .fix-padding{
        padding-right: 5px;
        padding-left: 5px;
        width: 33.33333333%;
        float: left;
    }

    .box-btn{
        padding: 14px 0;
        margin: 3px 0;
        border-radius: 3px;
        background-color: $color_1;
        display: block;
        text-decoration: none;
        text-align: center;

        span{
            display: block;
            color: white;
            font-size: 1em;
            line-height: 1.3em;
        }
    }
}

.sprite {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sprite-icon_historia { background: url('../images/historia.svg') no-repeat; }
.sprite-icon_producao { background: url('../images/producao.svg') no-repeat; }
.sprite-icon_premiacao { background: url('../images/premiacao.svg') no-repeat; }
.sprite-icon_camera { background: url('../images/fotos.svg') no-repeat; }
.sprite-icon_video { background: url('../images/videos.svg') no-repeat; }
.sprite-icon_leilao{ background: url('../images/leilao.svg') no-repeat; }
