.pg_leilao{
	height: 100%;
	min-height: 690px;
	padding-top: 44px;
	background-color: white;
	color: #686868;

	h2{font-weight: 100; }

	p{margin: 0; }
}

.pg_contato{
	height: 100%;
}

iframe{
	width: 100%;
	height: 100%;
}

.list_leilao{
	margin: 20px 0;
	padding: 0;
	text-align: left;

	li{
		list-style: none;
		border-top: 1px solid black;
	}
	a{
		padding: 10px 20px;
		color: inherit;
		&:before{ padding-right: 5px;}
		&:active, &:hover, &:focus{ color: #686868 !important;}
	}
}

.question{
	font-weight: bold;
}
.answer{
	font-weight: 200;
}