.content{
	padding: 0 5px;
	width: 100%;
}

.gradient {
	border: 1px solid black;

	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background-color: rgba(0,0,0,.6);
}

.circle{
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	border: 2px solid white;
}

.circle-big{
	width: 30px;
	height: 30px;

	&.fa-play{padding: 6px 9px; }
	&.fa-pause{padding: 6px 7px; }
}

.circle-min{
	margin: 5px;
	width: 20px;
	height: 20px;
	padding: 3px;
	font-size: 11px;
}

.cover {
	border: 2px solid black;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
	box-shadow: inset 0px 5px 5px rgba(0,0,0,1);
}

.player {
	width: 90%;
	left: 50%;
	margin-left: -45%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 25px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 15px;

	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);

	h1{
		color: white;
		margin-top: 5px;
		font-size: 1em;
	}

	.purple{
		color: $color_1;
	}

	.controls{
		display: inline-block;
		position: absolute;
		left: 110px;

		.progress{
			position: absolute;
			top: 13px;
			right: -70px;
			height: 5px;
			width: 65px;
			margin-bottom: 0;

			.progress-bar-success { background-color: $color_1; }
		}
	}

	.track-name{
		display: inline-block;
		padding: 15px;
		top: 60px;
		position: absolute;
		color: white;
	}

	.btnShare{ 		
		font-size: 11px;

		.fa{
			width: 21px;
		}
	}
}
