.wrapp{
	width: 100%;
	height: 100%;
}

.fa{
	color: white;
	text-decoration: none;
}

.inBlock{ display: inline-block;}

.back{
	float: left;
	padding: 0 20px;
}

.navbar-fixed-top{
	position: fixed;
	top: 0;
	height: 44px;
	width: 100%;
	background-color: $color_1;
	padding: 0 15px 0 0;
	text-align: center;
	line-height: 44px;

	a{
		position: absolute;
		left: 15px;
		top: 15px;
		font-size: 20px;
	}
	span{color: white; font-size: 18px;}
}

.pd_navbar{
	padding: 60px 15px 0;

	h1{
		font-size: 25px;
	}
}

.img_cover_v{
	background-size: cover !important;
	margin-bottom: 15px;
	width: 100%;
	height: 350px;
}

.img_cover_h{
	background-size: cover !important;
	margin-bottom: 15px;
	width: 100%;
	height: 250px;
}