.boxvideo{
	position: relative;
	border: 2px solid white;
	margin-bottom: 10px;

	a{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -15px;
		margin-top: -15px;
	}

	img{
	    width: 100%;
	    height: 65px;
	    object-fit: cover;
	}
}

.line-videos{

	margin: 10px 0;

	.pdl-0{
		padding-left: 0px;
		position: relative;
	}

	&:after{
		border-bottom: 1px solid white;
		width: 100%;
	}
}