<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Contato</div>
</nav>
<div class="pg_contato">
	<iframe src="http://www.avanticom.com.br/anadantas/contato" frameborder="0" allowfullscreen></iframe>
</div>