<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Entrevista</div>
</nav>
<div class="pd_navbar">
	<h1>20 anos fazendo história nas pistas de vaquejada</h1>

	<div class="img_cover_v bg_entrevista"></div>

	<p>No mundo das Vaquejadas, Jonatas Dantas é um dos criadores mais experientes. Já são mais de 20 anos de dedicação e investimentos na raça Quarto de Milha. O sucesso do empresário se deve a sua visão e negócio e a aquisição de um grande ícone da raça no Brasil: Wild Silver SLN , mais conhecido como ROXÃO. Conheça um pouco mais dessa história de amizade e amor entre o criador e cavalo.</p>

	<p class="question">Quando foi a aquisição? Onde? Quantos anos ele tinha? O que mais chamou a sua atenção para querer comprá-lo?</p>
	<p class="answer">Em janeiro de 2001 na Vaquejada de Atalaia, em Alagoas, vi um cavalo lindo tordilho negro que corria de esquerda em seu primeiro circuito, derrubando muito. Ele tinha apenas sete anos. Fiquei impressionado e quis adquiri-lo.</p>

	<p class="question">Ele já era um cavalo de competição?</p>
	<p class="answer">Roxão estava começando sua carreira como atleta quando o comprei. Aliás, era sua primeira Vaquejada fora de casa.</p>

	<p class="question">Na sua opinião, qual foi a conquista mais marcante de ROXÃO como competidor?</p>
	<p class="answer">ROXÃO fez uma bela campanha enquanto competia. Assim que eu o comprei, já começamos a nos empenhar para obter bons resultados. Ele ganhou muitos prêmios e suas duas maiores conquistas foram o Circuito Nacional Mastruz com Leite de Vaquejada, no qual ele ganhou uma caminhonete F 250, com os vaqueiros Marcos Mocoto e Pedro Bó; e, logo em seguida, conquistou no Circuito Ford uma Ford Range com o vaqueiro Pedro Bó.</p>

	<p class="question">Quando foi que viu que o ROXÃO tinha potencial para ser um garanhão? E quando foi que tomou a decisão de aposentá-lo das pistas?</p>
	<p class="answer">Sempre comprei cavalos bons e caros para a Vaquejada, mas todos eles eram castrados. Quando adquiri o ROXÃO, vi nele a oportunidade de realizar um sonho. Ele era rápido, com muita habilidade e um lindo tordilho negro. Estava ali o meu projeto de fazer o primeiro garanhão campeão de Vaquejada. Planejamos toda a sua campanha em cima deste objetivo e ele correspondeu além das nossas expectativas, ganhando as maiores competições do Brasil. Em dezembro de 2003, resolvemos aposentá-los das pistas.</p>

	<p class="question">As pessoas te procuravam para saber sobre o ROXÃO?</p>
	<p class="answer">Sim, com certeza. Recebo até hoje ligações de todo o Brasil pedindo informações sobre ele. As pessoas querem conhecer este divisor de águas das Vaquejadas.</p>

	<p class="question">Se fosse descrever o ROXÃO em uma palavra, qual seria ela?</p>
	<p class="answer">FENÔMENO!!!</p>

	<p class="question">Quando começou a vender cotas de cobertura dele, imaginou que ele seria todo esse sucesso?</p>
	<p class="answer">Quando fizemos o primeiro projeto de cota de cobertura de um cavalo de Vaquejada, imaginamos que seria um sucesso, porque essa era uma grande novidade no mercado. Cobrimos então grandes éguas de vários plantéis. Os criadores que acreditaram neste projeto e não se decepcionaram. Aliás, deixo aqui o meu agradecimento a todos os cotistas que investiram no Projeto ROXÃO.</p>

	<p class="question">Qual foi a maior emoção que você sentiu com o ROXÃO?</p>
	<p class="answer">Foi no Potro do Futuro da Bahia. Era a estreia da primeira geração de ROXÃO nas pistas e com poucos filhos em competição, conseguimos grandes vitórias. Special Silver AD foi Reservado Campeão de Puxar e Calaco Silver AD também Reservado Campeão de Esteira; Docs Silver Dash conquistou o 3º lugar; e Guerreiro Silver AD o 4º lugar. Foi incrível todas essas conquistas dos filho do ROXÃO em um único final de semana.</p>

	<p class="question">Tem algum cruzamento do sangue do ROXÃO que é especial pra você?</p>
	<p class="answer">São muitos cruzamentos aprimorados. Na primeira geração cobrimos várias éguas com boas genéticas. Na época, comprei algumas barrigas de éguas Briganlena do Haras Chanceller, e deste cruzamento nasceram grandes campeões.</p>

	<p class="question">A sua família também monta? Se sim, algum cavalo com a genética do ROXÃO?</p>
	<p class="answer">A minha família tem sangue de vaqueiro. Começou com o meu pai, Jonatas Dantas, que tinha um cavalo Quarto de Milha chamado Peça Fina. Eu cuidava dele nas vaquejadas e foi a minha primeira paixão. Foi aí que começou a minha história até chegar ao ROXÃO.</p>

	<p class="question">O que mais gosta nas Vaquejadas?</p>
	<p class="answer">Os cavalos e também os amigos que conquistei durante todo este tempo.</p>

	<p class="question">Na sua opinião, o que ainda pode ser melhorado nesse esporte?</p>
	<p class="answer">A Vaquejada na criação mudou muito depois da chegada do ROXÃO . Hoje todo criador tem o sonho de ter seu próprio garanhão. Em relação ao esporte, precisamos de novas regras para o bem-estar do boi, cavalo e vaqueiro.</p>

	<p class="question">E a raça Quarto de Milha no Brasil. Qual a sua opinião sobre o plantel?</p>
	<p class="answer">Os criadores brasileiros investem muito em seus plantéis. Adquirimos grandes garanhões e matrizes importadas e com isso a cada ano que passa, a raça cresce com bons resultados.</p>

	<p class="question">20 anos depois, como é o dia a dia do ROXÃO?</p>
	<p class="answer">20 anos do ROXÃO é como se fossem os 15 anos da minha filha. Para mim ele é o filho homem da família, tratado com muito amor e carinho. O ROXÃO foi um dos maiores presentes que Deus poderia ter dado a um sonhador que saiu da Paraíba, e hoje está em São Paulo no berço do Quarto de Milha realizando seu sonho. Só tenho a agradecer a Deus, família e amigos.</p>

</div>