<nav class="navbar-fixed-top">
    <div ng-click="back()" class="inBlock back">
        <span class="fa fa-chevron-left"></span>
    </div>
    <div class="inBlock" style="margin-left: -20px;">Fotos</div>
</nav>
<div class="pd_navbar ng-cloak">
    <ul class="row container_photos">
        <li class="col-img" ng-repeat="image in vm.listPhotos" on-finish-render>
            <img class="img-responsive img-thumb" ng-click="vm.openPhoto(image.origin, image.title)" ng-src="{{image.thumb}}"/>
        </li>
    </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: black;">
    <div class="modal-dialog" style="margin: 0;">
        <div class="modal-content" style="background: black; border: 0;">
            <div class="modal-header" style="padding: 9px; background-color: #4d449b; border: 0; min-height: 44px;">
                <button type="button" class="close" data-dismiss="modal" style="color: white; opacity: 1; padding: 10px 15px; margin-top: -8px; margin-right: -8px;"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{vm.imgTitle}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{vm.imgSrc}}" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>
