<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">História</div>
</nav>
<div class="pd_navbar">
	<h1>Roxão, a grande estrela!</h1>
	<div class="img_cover_v bg_historia"></div>
	<p>A Vaquejada mudou após a entrada de Roxão para o esporte e hoje é impossível falar sobre a modalidade equestre sem citá-lo.</p>
	<p>SILVER WILD, o ROXÃO, ganhou fama por ter sido o primeiro cavalo não castrado na história da Vaquejada que, ao mesmo tempo, competia e reproduzia sua genética. O fato inédito revolucionou o mundo das Vaquejadas e por isso hoje ROXÃO é considerado como "divisor de águas" neste esporte genuinamente brasileiro.</p>
	<p>Foi também após a sua entrada nas pistas que a Vaquejada foi mais valorizada. Outros criadores passaram a investir em genéticas e ganharões competidores, o número de cavalos não castrados cresceu, as pistas ficaram lotadas e o esporte se espalhou pelo Brasil, movimentando milhões de reais.</p>
	<p>Para chegar a ter o mais consagrado garanhão de Vaquejada, Jonatas Dantas, proprietário do ROXÃO e empresário que há mais de 20 anos atua no mundo das Vaquejadas, investiu quase uma década em cavalos da raça Quarto de Milha. As recompensas dos anos de dedicação à Vaquejadas e a crença no futuro promissor de ROXÃO vieram com o tempo e aliada a uma vasta lista de conquistas e prêmios.</p>
</div>