<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">O Leilão</div>
</nav>
<div class="text-center pg_leilao">
	<img src="images/leilao.jpg" height="237" width="300" alt="">
	<h2 style="margin-bottom: 0;">29 DE NOVEMBRO</h2>
	<h2 style="margin-top: 0;">SÁBADO • 18H</h2>
	<p>Durante o 12º Potro do Futuro &</p>
	<p>Campeonato Nacional de Vaquejada da ABQM</p>
	<p>TERRA DE SANTA FÉ GRAVATÁ / Bezerros • PE</p>

	<ul class="list_leilao">
		<li><a class="fa fa-angle-right" href="#leilao/entrevista">ENTREVISTA</a></li>
		<li><a class="fa fa-angle-right" href="#leilao/lotes">LOTES</a></li>
		<li><a class="fa fa-angle-right" ng-click="vm.openExternalLink()" href="" target="_system">CATÁLOGO VIRTUAL</a></li>
		<li><a class="fa fa-angle-right" href="#leilao/regulamento">REGULAMENTO</a></li>
		<li><a class="fa fa-angle-right" href="#leilao/parceiros">PARCEIROS</a></li>
		<li><a class="fa fa-angle-right" href="#leilao/contato">CONTATO</a></li>
	</ul>
</div>
