<div class="bg_cover">

	<!-- <a href="" ng-click="vm.shareApp()" class="btnShare"><i class="fa fa-share-alt"></i></a> -->
    <div class="bg-gradient"></div>
	<div class="content">

		<div class="gradient player">
			<h1>Rádio <span class="purple">ROXA</span></h1>
			<img class="cover" ng-src="{{vm.curmusic().cover}}" height="80" width="80" alt="">
			<a href="" ng-click="vm.shareMusic()" class="btnShare"><i class="fa fa-share-alt"></i></a>

			<div class="controls">
				<a href="" ng-click="vm.back()" class="circle circle-min fa fa-step-backward"></a>
                <a href="" ng-click="vm.play()" ng-class="{'fa-pause': vm.playing(), 'fa-play': !vm.playing()}" class="circle circle-big fa"></a>
				<a href="" ng-click="vm.next()" class="circle circle-min fa fa-step-forward"></a>
				<div class="progress">
					<div id="seek" class="progress-bar progress-bar-success" role="progressbar" style="width: {{vm.curperc}}%;"></div>
				</div>
			</div>

			<div class="track-name">
				<p>{{vm.curmusic().title}}</p>
			</div>
		</div>

	</div>

</div>
<div class="box-buttons">
    <div class="">
        <div class="fix-padding">
            <a href="#historia" class="box-btn">
                <div class="sprite sprite-icon_historia"></div>
                <span>História</span>
            </a>
        </div>
        <div class="fix-padding">
            <a href="#producao" class="box-btn">
                <div class="sprite sprite-icon_producao"></div>
                <span>Produção</span>
            </a>
        </div>
        <div class="fix-padding">
            <a href="#premiacao" class="box-btn">
                <div class="sprite sprite-icon_premiacao"></div>
                <span>Premiação</span>
            </a>
        </div>
        <div class="fix-padding">
            <a href="#fotos" class="box-btn">
                <div class="sprite sprite-icon_camera"></div>
                <span>Fotos</span>
            </a>
        </div>
        <div class="fix-padding">
            <a href="#videos" class="box-btn">
                <div class="sprite sprite-icon_video"></div>
                <span>Vídeos</span>
            </a>
        </div>
        <div class="fix-padding">
            <a href="#leilao" class="box-btn">
                <div class="sprite sprite-icon_leilao"></div>
                <span>O Leilão</span>
            </a>
        </div>
    </div>
</div>
