<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Parceiros</div>
</nav>
<div class="pd_navbar text-center" style="background-color: white; height: 100%; min-height: 630px;">
	<img src="images/parceiros.jpg" height="540" width="300" alt="">
</div>