<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Premiação</div>
</nav>
<div class="pd_navbar">
	<h1>Roxão é campeão!</h1>
	<p>O tordilho Silver Wild SLN, o Roxão, entrou nas pistas em 2000 e competiu até o final de 2003. Em apenas três anos fez uma excelente campanha: conquistou muitos prêmios, balançou o coração dos vaqueiros e mostrou muita habilidade, docilidade e velocidade nas pistas dos principais circuitos de Vaquejada do país.</p>
	<p>Conheça seus títulos:</p>
	<ul style="padding: 0 15px;">
		<li>Campeão Nacional Mastruz com Leite em 2000;</li>
		<li>Campeão do I Circuito Nacional Ford Vaquejada 2001;</li>
		<li>Eleito pela Revista Conexão Vaquejada o "melhor Cavalo da Vaquejada 2000/2001. </li>
		<li>Campeão do Circuito Tocantins de Vaquejada (TO) em 2002;</li>
		<li>Campeão do Circuito Semente da Terra (MG) em 2002;</li>
		<li>Campeão do Circuito Parque Zezé Rocha (SE) em 2002. </li>
	</ul>
	<p>Ganhador de uma Ford Ranger e uma Ford F250, 8 carros 0km, e mais de R$ 100 mil em prêmios, Roxão se consagrou nas pistas de Vaquejadas.</p>

</div>