<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Produção</div>
</nav>
<div class="pd_navbar">
	<h1>Produtor de campeões</h1>
	<p>Silver Wild SLN é, de fato, um divisor de águas na Vaquejada. O tordilho deu um novo sentido à modalidade e foi o primeiro garanhão e competidor do esporte. Passados 20 anos, sua genética é uma das mais valiosas e produtora de verdadeiros campeões nas pistas.</p>
	<p>Da porteira até a hora em que o boi cai na faixa dos 10 metros, Roxão mostrava toda a sua agilidade e força para dar oportunidade do puxador conseguir seu objetivo. Conquistou muitos títulos e foi eleito o cavalo do ano de Vaquejada em 2001 pela Revista Conexão Vaquejada.</p>
	<p>Agora Roxão se destaca como produtor de Campeões de Vaquejada e alguns de seus filhos já despontam como campeões e garanhões, com destaque para Special Silver AD, primeiro herdeiro de Roxão a ser vendido por altas cifras (na épóca, foi arrematado por R$ 350 mil). Também é destaque Dom Roxão Eternaly, vendido por R$ 700 mil (preço record em Vaquejada nos últimos tempos) e que em apenas dois anos de competição obteve cinco primeiros lugares em importantes provas (Campeão do Derby ABQM-13 e Reservado Campeão Nacional ABQM-13, tornando-se o único competidor-garanhão a deter estes títulos oficiais do Quarto de Milha).</p>
	<p>Além disso, já são 458 filhos que já somam mais de 350 pontos na ABQM, com destaque em todas as gerações:</p>

	<ul style="padding: 0 15px;">
		<li>SPECIAL SILVER AD - Reservado Campeão PF ABQM Vaquejada/07 Ab Pux, Registro de Mérito Superior em Vaquejada pela ABQM, 85 pontos e Produtor de campeões de Vaquejada já na primeira geração;</li>
		<li>DOM ROXAO ETERNALADY - Campeão Derby ABQM de Vaquejada/12 na sela de Verdinho, Reservado Campeão Nacional ABQM de Vaquejada 2013, Registro de Mérito pela ABQM, 23 pontos;</li>
		<li>ALAMITO LAD ROXO - Campeão PF ABQM Vaquejada/10 Ab Pux;</li>
		<li>AFRICAN BOY DASH - Campeão Potro de Ouro ACQM/13;</li>
		<li>MISS LEE DOC - Registro de Mérito em Vaquejada pela ABQM;</li>
		<li>BACKUP OF WILD - Campeão PF ABQM Vaquejada/10 de Esteira;</li>
		<li>DOC'S SILVER DASH AD "MANCHA" - Campeão de Vaquejadas, Registro de Mérito ABQM de Vaquejada Ab Pux;</li>
		<li>SHADY DASH AD -  Campeão na sela de Nem Vieira;</li>
		<li>LENDARA ROXA AD - Pontuada na ABQM;</li>
		<li>CALACO DOC SILVER5 AD -  Reservada Campeã PF ABQM, Registro de Mérito pela ABQM em Vaquejada Est Ab;</li>
		<li>MEL BAR DASH AD - Destaque em Vaquejada montada por Luciano;</li>
		<li>MISS WILD ROJO JR - Campeã de Vaquejada, pontuada na ABQM;</li>
		<li>ETERNALA ROXA AD - Campeã de Vaquejada e pontuada pela ABQM;</li>
		<li>DON WILD DASH - Destaque na sela de Neco e Tacaimbó;</li>
		<li>THE SPEED RACER - Campeã de Vaquejada, Registro de Mérito pela ABQM em Vaquejada;</li>
		<li>WONDERFUL STEEL LAD - Campeão de Vaquejada e Registro de Mérito pela ABQM, 23,5 pontos;</li>
		<li>SILVER TO FLY - Ganhador de motos, montado por Ezequiel;</li>
		<li>CHERRY ROXO - Campeão na sela de Bozó de Tatu;</li>
		<li>ANGEL LEO WILD RPF - Campeão em várias Vaquejadas incluindo a Grande Vaquejada de Governador Valadares;</li>
		<li>SONHADORA ROXA AD -  Campeã em diversas Vaquejadas;</li>
		<li>PURPLE LEO WILD PM - Registro de Mérito Superior em Tambor pela ABQM, 33 pontos;</li>
		<li>BLACK LENA LAD - Registro de Mérito Superior em Tambor pela ABQM, 41 pontos.</li>
	</ul>

	<p>Além dos já citados, Roxão tem vários outros filhos pontuados em Vaquejada pela ABQM:</p>

	<ul style="padding: 0 15px;">
		<li>CRYSTAL ROXA CBG;</li>
		<li>ARIZONA ROXO AD;</li>
		<li>APOCALIPSE DASH WILD;</li>
		<li>SILVER SAND WILD;</li>
		<li>LENA ROXA;</li>
		<li>DAFNE WILD GM;</li>
		<li>WILD DIEGO STEEL HJG;</li>
		<li>WILD RONALDO ROXO AD;</li>
		<li>LUNA ROXA AD;</li>
		<li>SANDY DASH ROXA AD</li>
		<li>CHAMBER DASH.</li>
	</ul>

</div>