<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Regulamento</div>
</nav>
<div class="pd_navbar">

	<div class="text-center regulamento">
		<h2>Regulamento</h2>
		<h2>XI Leilão Ana Dantas Ranch – Edição Especial – Roxão 20</h2>
		<br>
		<p>29/11/2014 - Sábado - 17:00 hs. - Recinto Ricardo Fiuza</p>
		<p>Gravatá / Bezerros - PE</p>
		<br>
		<p class="answer">Leiloeiro Rural Oficial: Anibal Ferreira Marcelino Junior - nº 128</p>
		<br>
		<p class="question">TODOS OS VENDEDORES DO LEILÃO PARTICIPAM</p>
		<p class="question">ATRAVÉS DAS RESPECTIVAS INSCRIÇÕES CONFORME REGRAS ESTABELECIDAS E ACEITAS</p>
	</div>



	<p>Art. 1º - As vendas realizadas no leilão são irrevogáveis e irretratáveis, não podendo o Comprador recusar o animal ou solicitar redução do preço.</p>

	<p>Art. 2º - É de responsabilidade do Vendedor o registro do animal que participa deste leilão na respectiva Associação da Raça, bem como de toda a documentação referente à comunicação de coberturas, transferências de embriões, etc.</p>

	<p>Art. 3º - AOS VENDEDORES COMPETE:</p>
	<p>a) Providenciar às suas expensas a colocação do animal no Recinto Ricardo Fiuza – Gravatá / Bezerros - PE, no dia 28 de Novembro de 2014 (sexta-feira) das 8:00 às 18:00 horas, acompanhado do seu respectivo tratador, que deverá trazer todo o equipamento e alimentação.</p>
	<p>b) Entregar todos os documentos solicitados em e-mail/fax, no escritório da MBA Leilões que estará instalado no Recinto Ricardo Fiuza.</p>
	<p>c) Pagar taxas conforme regras já estabelecidas e aceitas.</p>
	<p>d) A pedido do Comprador, manter o animal vendido sob sua guarda e trato até a entrega do animal ao comprador que deverá retirá-lo até 12:00 (doze) horas do dia 01/12/2014, impreterivelmente, ou na origem.</p>
	<p>e) Entregar ao Comprador a Guia de Transferência de Propriedade constando como data de venda a data do leilão, após o pagamento integral do preço do animal arrematado.</p>

	<p>Art. 4º - O animal a ser licitado estará à disposição dos interessados a partir de 12:00 (doze) horas do dia do leilão, no local onde se realizará o evento.</p>

	<p>Art. 5º - Os interessados deverão proceder, com antecedência compatível, à vistoria dos animais, inclusive com profissional de sua confiança, pois uma vez na pista a distância impede a verificação de certas minúcias, somente visíveis de perto. Assim, não serão aceitas reclamações posteriores.</p>
	<p>Ao Comprador de fêmea prenhe, será permitido até 24 horas após o leilão, e antes da retirada do animal do local do evento, trazer Veterinário de sua confiança para constatação de prenhez do animal adquirido, cessando a partir daí qualquer responsabilidade do Vendedor.</p>
	<p>Parágrafo único: Somente serão aceitas reclamações a respeito de fertilidade para os animais de 24 (vinte e quatro) a 36 (trinta e seis) meses, e até 7 (sete) dias a partir da data do leilão.</p>

	<p>Art. 6º - Todos os animais entrarão em licitação sem reserva ou preço base.</p>

	<p>Art. 7º - Uma vez batido o martelo o animal estará por conta e risco do comprador. Entretanto, o Vendedor manterá o animal vendido sob sua guarda e trato até a entrega do animal ao Comprador.</p>

	<p>Art. 8º - As condições de pagamento do leilão serão as seguintes: a) O total da venda será o valor do lance multiplicado por 24 (vinte e quatro) parcelas.</p>
	<p>b) O pagamento será da seguinte forma: 2 (duas) parcelas acumuladas no ato da compra, 2 (duas) parcelas acumuladas para 30 (trinta) dias da data do leilão, e 20 (vinte) parcelas individuais nos 20 (vinte) meses subsequentes.</p>
	<p>c) Poderá o Comprador optar pelo pagamento em 12 (doze) parcelas com 7,5% (sete e meio por cento) de desconto, sendo: 1 (uma) parcela individual no ato da compra, e 11 (onze) parcelas individuais nos 11 (onze) meses subsequentes.</p>
	<p>d) O pagamento à vista ensejará desconto de 15% (quinze por cento) sobre o valor total do animal. Esse pagamento que deverá ser efetuado no máximo até o terceiro dia útil após a data da realização do leilão. Após este prazo, somente com autorização do Vendedor.</p>
	<p>e) Optando pelo pagamento a prazo o Comprador dará ao Vendedor em penhor pecuniário o animal adquirido, ficando como fiel depositário do mesmo até a liquidação total da divida.</p>
	<p>Parágrafo único: A cobrança das parcelas em aberto será efetuada pelo próprio Vendedor, que deverá utilizar a forma de cobrança que melhor lhe convier, quais sejam: emissão de boletos bancários, cobrança em carteira, etc., conforme vencimentos e valores constantes na Nota de Leilão, condições essas aceitas pelo Comprador.</p>

	<p>Art. 9º - A arrematação ficará comprovada com a assinatura da Nota de Leilão vinculada ao Contrato de Compra e Venda e de uma Nota Promissória Rural Única no valor total do animal adquirido, bem como de uma Nota Promissória relativa ao pagamento da comissão, emitidas após cada arrematação. As referidas Notas Promissórias serão consideradas quitadas quando da efetiva liquidação total do negócio, tanto do produto adquirido, quanto da correspondente comissão.</p>

	<p>Art. 10º- AOS COMPRADORES COMPETE:</p>
	<p>a) Cadastrar-se junto à MBA Leilões, antes de efetuar suas compras, fornecendo todos os dados necessários para a sua identificação, além de referências pessoais e ou bancárias. Somente após a análise e aprovação do cadastro, os interessados estarão habilitados a comprar.</p>
	<p>b) Efetuar o pagamento do animal arrematado durante e/ou após o final do leilão e no dia seguinte, no local do leilão, até 12:00 (doze) horas. Na impossibilidade de concluir sua aquisição nestes períodos, o Comprador deverá comunicar-se com o Gerente da MBA Leilões.</p>
	<p>c) Pagar 8% (oito por cento) de comissão à vista, irrestituível, de sua compra sobre o valor líquido.</p>
	<p>d) Retirar o animal até 12:00 (doze horas) do dia 01 de Dezembro de 2014, correndo por sua conta e risco as providências de retirada, transporte e despesas eventuais. Caso não se posicione sobre esta situação, após este prazo, o animal retornará à origem e deverá ser retirado em 2 (dois) dias úteis. Após esta data poderá o Vendedor cobrar diárias e despesas do comprador.</p>
	<p>e) Pagar para a respectiva Associação a taxa de transferência de propriedade.</p>
	<p>f) Qualquer incidência de imposto que venha a ser exigido em fiscalizações, barreiras estaduais, etc., serão de responsabilidade do Comprador.</p>

	<p>Art. 11º - O Vendedor poderá solicitar avalista do seu conhecimento na Nota Promissória Rural Única, desde que manifeste esta exigência ao escritório da MBA Leilões imediatamente após o anúncio do nome do Comprador.</p>

	<p>Art. 12º - O animal arrematado será entregue pelo Vendedor ao Comprador mediante autorização por escrito da MBA Leilões.</p>

	<p>Art. 13º - O leilão será gravado, para dirimir eventuais dúvidas, e o Comprador que não se encontrar presente e que efetuar sua aquisição através do sistema via telefone, satélite, televisão, internet, etc. declara ter conhecimento da Nota de Leilão com o Contrato de Compra e Venda, das regras e do regulamento deste leilão, que estará disponível no site da MBA (www.mbaleiloes.com.br) e em material impresso, e receberá a documentação para ser assinada e devolvida, podendo o produto ser retido até a assinatura na Nota de Leilão e o pagamento da entrada e comissão.</p>

	<p>Art. 14º - A falta de pagamento de qualquer uma das parcelas pactuadas no Contrato de Compra e Venda implicará vencimento e exigibilidade da dívida por inteiro, independentemente de notificação ou aviso nos termos do Contrato de Compra e Venda com reserva de domínio vinculado à Nota de Leilão.</p>

	<p>Art. 15º - Para animal vendido para o exterior, o valor do mesmo, de todos os encargos e custos oriundos da liberação para exportação, bem como dos atestados de sanidade devidos, correrão por conta do Comprador e deverão ser liquidados à vista ao Vendedor e ou exportador.</p>
	<p>Parágrafo único: O Comprador que não possuir domicílio no território nacional, nem possuir CPF, o valor da aquisição e todos os encargos e custos para a liberação deverão ser liquidados à vista.</p>

	<p>Art. 16º - Os Vendedores, organizador e a MBA Leilões não se responsabilizarão por quaisquer alterações no estado do animal após a arrematação.</p>

	<p>Art. 17º - O leilão se processará publicamente por Leiloeiro Rural filiado ao Sindicato Nacional dos Leiloeiros Rurais, sendo sua palavra credenciada a alterar ou complementar estas normas, bem como as informações constantes do catálogo. O leiloeiro estabelecerá a seu critério exclusivo o lance mínimo e a variação do montante de cada lance. Caberá ao leiloeiro esclarecer eventuais dúvidas e estabelecer normas para os casos omissos. O leiloeiro não aceitará lances dados por pessoas que a seu exclusivo critério julgar não capacitadas.</p>

	<p>Art. 18º - É de única responsabilidade dos Vendedores todos os dados do animais deste leilão. Eventuais erros ou omissões serão corrigidos pelo leiloeiro e prevalecerão sobre o catálogo.</p>

	<p>Art. 19º - O Vendedor não poderá inscrever neste leilão animal que tenha quaisquer compromissos com terceiros ou qualquer ônus ou gravame, tais como alienações, embargos judiciais, problemas com documentação, exceto quando autorizado pelo proprietário, alienante, justiça, etc. Portanto, caso isto ocorra, o Leiloeiro e a MBA Leilões não poderão ser responsabilizados em nenhuma hipótese por problemas que possam surgir.</p>

	<p>Art. 20º - Fica estabelecido que o proprietário assumirá inteira e exclusiva responsabilidade em face de eventuais danos de natureza pessoal ou patrimonial que possam vir a ocorrer a seus apresentadores, treinadores, tratadores e outros empregados, bem como àqueles que seu animal possa vir a causar a terceiros, isentando expressamente os organizadores e a leiloeira de qualquer responsabilidade quanto aos eventos acima especificados.</p>

	<p>Art. 21º - Todos os participantes do leilão obrigam-se de forma definitiva e irrecorrível a acatar as disposições deste regulamento, o qual é considerado de conhecimento de todos, ninguém podendo se recusar a aceitá-lo e cumpri-lo, alegando que não o conhece, bem como as resoluções dos Organizadores, ao interpretar e executar os casos omissos que serão de seu exclusivo critério, sendo finais as suas decisões.</p>

	<p>Art. 22º - A concretização do negócio entre Vendedor e Comprador caracteriza-se pela batida do martelo e qualquer fato posterior, superveniente à vontade das partes, não implica, em nenhuma hipótese, a devolução dos valores pagos a título de comissão ou custos.</p>

	<p>Art. 23º - Uma vez no recinto do leilão, os animais entrarão em pista obrigatoriamente, salvo decisão contrária dos Organizadores. A não apresentação dos animais implicará penalidades determinadas pelos Organizadores.</p>

	<p>Art. 24º - A participação de qualquer pessoa no leilão importará na presunção em favor da MBA Leilões e dos Organizadores, sem ônus a estes, ao uso de seus NOMES, IMAGENS E SONS durante a realização do evento, ficando autorizada a gravação de todas as imagens e sons dos participantes no evento, durante e após o mesmo, para fins jurídicos e de divulgação pela Internet, mídia em geral, divulgação do resultado do evento, quais sejam: nomes dos compradores, vendedores, animais, etc.</p>

	<p>Art. 25º - A MBA Leilões atua, única e exclusivamente, como intermediária do negócio realizado entre Vendedor e Comprador e não obstante despenda todos os seus esforços para sua boa concretização, de forma alguma é responsável por eventual atraso ou falta de pagamento, pelas informações contidas no catálogo, bem como pela saúde, condições e estado físico dos animais, inclusive por aqueles eventualmente decorrentes de manejo e de transporte dos mesmos, razão pela qual, de forma expressa, Vendedores e Compradores a declaram parte ilegítima em qualquer questão que possa decorrer de tais situações, isentando-a desde logo de qualquer responsabilidade nesse sentido.</p>

	<p>Art. 26° - Com renúncia de qualquer outro, por mais privilegiado que seja, as partes elegem o FORO DO DOMICILIO DO VENDEDOR para serem dirimidas todas e quaisquer questões decorrentes do presente contrato.</p>

	<p>Art. 27º - A MBA Leilões tem sua razão social como MBA Promoções e Representações Ltda, é cadastrada no MARA (Ministério da Agricultura, do Abastecimento e da Reforma Agrária) sob o número SP-0027, na Coordenadoria de Defesa Ãgropecuária sob o número 330/2010, é filiada no CORCESP (Conselho Regional dos Representantes Comerciais do Estado de São Paulo) sob o número J 117.553, e tem sua sede na Rua Artur de Azevedo, 1767 – 10º andar – Conjunto 105 - Pinheiros – São Paulo / SP.</p>

	<br>
	<br>
	<p>Bezerros / PE, 29 de Novembro de 2014.</p>

</div>