<nav class="navbar-fixed-top">
	<div ng-click="back()" class="inBlock back">
		<span class="fa fa-chevron-left"></span>
	</div>
	<div class="inBlock" style="margin-left: -20px;">Vídeos</div>
</nav>
<div class="pd_navbar ng-cloak">
	<div class="row line-videos" ng-repeat="video in vm.listVideos">
		<div class="pdl-0 col-xs-4">
			<div class="boxvideo">
				<a href="" ng-click="vm.openExternalLink(video.link)" target="_system" class="circle circle-big fa fa-play"></a>
				<img ng-src="{{video.image_cover}}" alt="">
			</div>
		</div>
		<div class="pdl-0 col-xs-7">
			<p style="min-height: 60px;">{{video.name}}</p>
			<p style="position: absolute; bottom: -10px; right: -20px;">{{video.time}}</p>
		</div>
		<div class="pdl-0 col-xs-1">
			<a href="" ng-click="vm.shareVideo(video.link)" class="circle circle-min fa fa-share-alt"></a>
		</div>
	</div>
</div>
